@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,900');
/*TRouBLe*/
* { margin:0; padding:0; box-sizing:border-box; }

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background: url("../img/boxbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000;
  line-height: 1.2;
}

header {
  border-bottom: thin solid #00b5e2;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: left;
  max-width: 18%;
  color:  #00b5e2;
  padding:0 0 10px 0;
}

h2 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: left;
  max-width: 18%;
  color:  #000;
}

#intro {
  background-color: #2b2b2b;
  padding: 10px;
  width: 100%
}

#ecosystem {
  float: left;
  margin: 0 0 10px 10px;
  max-width: 180px;
  height: auto
}

#dcsmarketing {
  float: right;
  margin: 0 10px 10px 0px;
  max-width: 180px;
  height: auto
}

.navmain { 
  padding: 1.2em;
  margin-top: 75px;
  width: 100%
  clear: both;
  text-align: center;
}

.leftmenu a {
  float: none;
  width: 20px;
  height: auto;
  margin: 25px;
 
}

.rightcontent {
  float:right;
}

.red {
  background: #cd5c5c;
}

.blue {
  background: #0000ff;
}

.expando {
  display: none;
}
.expando:target {
  display: block;
}
ul {
  list-style: none;

}

.rectangle a {
  text-decoration: none;
  color:#fff;
}

a.rectangle {
  /*float: left;*/
  font-size: 90%
}

a.rectangle {
  border:1px solid #d4d4d4;
  color:#fff;
  padding:1em;
  width: 150px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /*safari*/
  display: inline-block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:#fff;
}

a.button1,a.navmain {
  /*float: left;*/
  font-size: 75%
}

a.button1 {
  border:1px solid #d4d4d4;
  border-radius:10px;
  color:#fff;
  margin-right:10px;
  padding:1em;
  width: 150px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /*safari*/
  display: inline-block;
}

a.button1:hover {
  background-color: rgba(255,255,255,.75);
  color: #000;
}

#highlights {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
 }

.training {
  background-color: #fff;
  padding: 4em 24em;
}

.training ul {
 font-family: 'Roboto', sans-serif;

}

.training li {
 margin: 10px 0;
}

.training a {
 font-family: 'Roboto', sans-serif;
 color: #000;
}

.training a:hover {
 font-family: 'Roboto', sans-serif;
 color:  #00b5e2;
}

.displaytext {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2em;
  text-align: left;
  max-width: 33.33%;
  float: left;
  overflow: hidden;
  margin-right: 30px;
}

/*.leadership {
  padding: 2em 2em;
  color: #000;
  background-color: rgba(67,67,67,.9);

}

.leadership img {
  float: left;
  max-width: 5%;
}*/

.leadership {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
}

.leaderow {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 /* background-color: #333; for me to see*/
}

.leaderow li {
  float: left;
  margin-left: 10px;
}

.leaderow li img {
  display: inline-block;
  color: white;
  text-align: left;
  margin: 5px 0px;
  max-width: 100px;
  
}

.leaderow a:hover {
    background-color: #00b5e2;
}


.leaderow a {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  display: inline-block;
  color: white;
  text-align: left;
  text-decoration: none;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .65em;
  line-height: 1.2em;
  text-align: left;
  max-width: 100px;
  color:  #fff;
  margin: 0px 10px;
}

#teams {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
}

#essentials {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
}


.callout {
  clear: both;
  position: relative;
  z-index: 1;
  height: 6em;
  width: 100%;
}

.centerBox {
  background-color:#666;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  padding: 1em 10em 0;
  text-align: center;
}

.sideBox, .sideBox2 {
  background:blue;
  width: 3em;
  height: 8em;
  position:absolute;
  left: -1em;
  top: -1em;
  z-index: -1;
}

.sideBox2 {
  position:absolute;
  right:-1em;
  top:-1em;
  left: initial;
}

footer {
  padding: 20px;
  width: 100%;
  text-align: center;
}

/*begin column exercise


#left {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);;
  float: right;
  width: 110%;
}

#right {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);;
  float: left;
  width: 50%;
}*/

.wrapper {
  max-width:75em;
  margin:auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}