

/*hover image a href thing
img, .showhide:hover>div {
    display: none;
}

.showhide:hover>img {
    display: block;
}

.showhide:hover>a {
    display: block;
}

a, .showhide:hover>div {
    display: none;
}
end hover thing*/

.rectangle div {
  text-decoration: none;
  color:#fff;


}


div.rectangle { /*feature 1*/
  /*border:10px solid #d4d4d4;*/
  color:#fff;
  padding:1em;
 	font-size: 90%
 	display: inline-block;
 	width: 100%;
}


.showhide {
	 /* border: 50px solid black;*/
	  width: 50%;
}

.showhide img {
height: 20em;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
