@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,900');

* { margin:0; padding:0; box-sizing:border-box; }

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background: url("../img/boxbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000;
  line-height: 1.2;
}

header {
  border-bottom: thin solid #000000;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: left;
  max-width: 18%;
  color:  #00b5e2;
  padding:0 0 10px 0;
}

h2 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: left;
  max-width: 18%;
  color:  #000;
}

#intro {
  background-color: #2b2b2b;
  padding: 10px;
  width: 100%
}

#ecosystem {
  float: left;
  margin: 0 0 10px 10px;
  max-width: 180px;
  height: auto
}

#dcsmarketing {
  float: right;
  margin: 0 10px 10px 0px;
  max-width: 180px;
  height: auto
}

.navmain { 
  padding: 1.2em;
  margin-top: 75px;
  width: 100%
  clear: both;
  text-align: center;
}



ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:#fff;
}


a.button1 {
  border:1px solid #d4d4d4;
  border-radius:10px;
  color:#fff;
  margin-right:10px;
  padding:1em;
  width: 150px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /*safari*/
  display: inline-block;
  font-size: 75%
}

a.button1:hover {
  background-color: rgba(255,255,255,.75);
  color: #000;
}

#highlights {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
 }

.training {
  background-color: #ebf2f7;
  padding: 4em 24em;
}

.training ul {
 font-family: 'Roboto', sans-serif;

}

.training li {
 margin: 10px 0;
}

.training a {
 font-family: 'Roboto', sans-serif;
 color: #000;
}

.training a:hover {
 font-family: 'Roboto', sans-serif;
 color:  #00b5e2;
}

.displaytext {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2em;
  text-align: left;
  max-width: 33.33%;
  float: left;
  overflow: hidden;
  margin-right: 30px;
}



.leadership {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
}

.leaderow {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 /* background-color: #333; for me to see*/
}

.leaderow li {
  float: left;
  margin-left: 10px;
}

.leaderow li img {
  display: inline-block;
  color: white;
  text-align: left;
  margin: 5px 0px;
  max-width: 100px;
  
}

.leaderow a:hover {
    background-color: #00b5e2;
}


.leaderow a {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  display: inline-block;
  color: white;
  text-align: left;
  text-decoration: none;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .65em;
  line-height: 1.2em;
  text-align: left;
  max-width: 100px;
  color:  #fff;
  margin: 0px 10px;
}

#teams {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
}

#essentials {
  padding: 2em 2em;
  color: #fff;
  background-color: rgba(67,67,67,.9);
}


.callout {
  clear: both;
  position: relative;
  z-index: 1;
  height: 6em;
  width: 100%;
  padding-bottom: 5em;
}

.centerBox {
  background-color:#666;
  position:relative;
  display: block;
  top:0;
  left:0;
  right:0;
  bottom:5%;
  z-index:1;
  padding: 1em;
  text-align: center;
}



footer {
  padding: 20px;
  width: 100%;
  text-align: center;
   background-color: rgba(67,67,67,.9);
     color: #fff;
}


.wrapper {
  max-width:75em;
  margin:auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.showhide {
   
  
   width: 100%;
}

.showhide img {
 position:relative;
 display: inline;
 width: 100%;
  
}
.showhide p {
position: relative;


}