@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,900');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background: url("../img/boxbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000;
  line-height: 1.2;
}

header {
  border-bottom: thin solid #00b5e2;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  max-width: 18%;
  color: #ff0000;
  padding: 0 0 10px 0;
}

h2 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.2em;
  max-width: 18%;
  color: #000;
}

h2 p {
  text-align: center;
}

#intro {
  background-color: #ffffff;
  padding: 10px;
  width: 100%
}

#aecom {
  float: right;
  margin: 0 10px 10px 0px;
  max-width: 180px;
  height: auto
}

.navmain {
  padding: 1.2em;
  margin-top: 75px;
  width: 100% clear: both;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

a.button1 {
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  color: #000;
  margin-right: 10px;
  padding: 1em;
  width: 150px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /*safari*/
  display: inline-block;
  font-size: 75%
}

a.button1:hover {
  background-color: #00b5e2;
  color: #fff;
}

#highlights {
  padding: 2em 2em;
  color: #fff;
  /*background-color: rgba(67,67,67,.9);*/
  background-color: #ffffff;
  text-align: center;
}

.displaytext {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  line-height: 1.2em;
  text-align: center;
  max-width: 80%;
  float: left;
  overflow: hidden;
  margin-right: 30px;
}

.callout {
  clear: both;
  position: relative;
  z-index: 1;
  height: 6em;
  width: 100%;
  padding-bottom: 5em;
}

.centerBox {
  background-color: #FFFFFF;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5%;
  z-index: 1;
  padding: 1em;
  text-align: center;
}

.centerBox p {
  color: #000000;
}

footer {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: rgba(67, 67, 67, .9);
  color: #fff;
}

footer a {
  color: #fff;
}

.wrapper {
  max-width: 75em;
  margin: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}