* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: url("../img/wtc.jpg");
  	background-size: cover;
	color: #555555;
	line-height: 1.2;
}


header.intro {
	max-width: 100%;
  	height: 100px;
}

#ecosystem {
	float: left;
    margin: 0 0 10px 10px;
    max-width: 25%;
  	height: auto
}

#dcsmarketing {
	float: right;
    margin: 0 0 10px 10px;
    max-width: 25%;
  	height: auto
}

div.center {
	text-align: center;
}

hr { 
  	border-style: solid;
    border-width: 1px;
   	color: #ffef12;
}

.button {
   	border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  	font-size: 14px;
    display: inline-block;
    margin: 16px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
}

.button1 {
    background-color: transparent; 
    color: white; 
    border: 1px solid #fff;
    width: 150px;
}

.button:hover {
    background-color: #fff;
    color: black;
}

.button2 {
    background-color: transparent; 
    color: white; 
    border: 1px solid #fff;
    width: 150px;
}

.button2:hover {
    background-color: #fff;
    color: black;
}

.button3 {
    background-color: transparent; 
    color: white; 
    border: 1px solid #fff;
    width: 150px;
}

.button3:hover {
    background-color: #fff;
    color: black;
}

.button4 {
    background-color: transparent; 
    color: white; 
    border: 1px solid #fff;
    width: 150px;
}

.button4:hover {
    background-color: #fff;
    color: black;
}

main {
	color: #000;
}

h1 {
	color: #000;
}

h2, h3, h4, h5 {
	margin: 10px 0;
	color: #000;
}

a {
	color: #00b5e2;
	text-decoration: none;
}

p {
	color: #000;
	text-decoration: none;
}

ul, ol {
	color: #000;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
	background-color: white;
	font-size: 12px;
	text-align: center;
	max-width: 100%;
  	height: 75px;
  	padding: 30;
}
