* {
	padding: 0;
	margin: 0;
}

body {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: url("../img/wtc.jpg");
  	background-size: cover;
	color: #555555;
	line-height: 1.3;
}

header {
	padding: 20px;
}

/*header.intro {
	max-width: 100%;
  	height: auto;
}*/

.button {
	background-color: transparent;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #e7e7e7; 
    color: white;

.button2 {
	
}

.button3 {
	
}

.button4 {
	
}

#ecosystem {
	float: left;
    margin: 0 0 10px 10px;
    max-width: 25%;
  	height: auto
}

#dcsmarketing {
	float: right;
    margin: 0 0 10px 10px;
    max-width: 25%;
  	height: au
}

h1 {
	color: #000;
}

h2, h3, h4, h5 {
	margin: 20px 0;
	color: #000;
}

a {
	color: #00b5e2;
	text-decoration: none;
}

p {
	color: #000;
	text-decoration: none;
}

nav a {
	color: #000;
	font-style: italic;
	margin-right: 10px;
}

/*img {
	width: 100%;
}*/

main {
	padding: 20px;
}

ul, ol {
	color: #000;
	list-style-type: none;
    margin: 0;
    padding: 0;

footer {
	color: #fff;
	padding: 20px;
	text-align: center;
}
