
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


body {
  background-color: #000;
  border: 1px black solid;
  padding: 20px 80px 20px 80px;


}

#intro {
  background-color: #ffed74;
  border: 1px black solid;
  padding: 20px;

}

#ecosystem {
  float: left;
  margin: 0 0 10px 10px;
  max-width: 200px;
  height: auto
}

#dcsmarketing {
  float: right;
  margin: 0 0 10px 10px;
  max-width: 200px;
  height: auto
}

.navmain { /*button classes here*/
  background-color: #eee;
  border: 1px black solid;
  padding: 20px;
}

#main-content {
  background-color: #ff0000;
  border: 1px black solid;
  padding: 20px;

}

.highlights {
  background-color: #ffe2b8;
  border: 1px black solid;
  padding: 20px;


}

.left-sidebar { /*2nd nav button classes here*/
  background-color: #e8c66a;
  border: 1px black solid;
  padding: 20px;

}

.highlight-content {
  background-color: #ffe2b8;
  border: 1px black solid;
  padding: 20px;

}

.callout {
  background-color: #ffe2b8;
  border: 1px black solid;
  padding: 20px;
}

.training {
  background-color: #ffe2b8;
  border: 1px black solid;
  padding: 20px;
}

.leadership {
  background-color: #ffe2b8;
  border: 1px black solid;
  padding: 20px;
}

.displaytext {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.2em;
  text-align: left;
  max-width: 600px;

}

img {
  margin: 0 0 10px 10px;
  max-width: 500px;
  height: auto
}

.list {
  background-color: #ffe2b8;
  border: 1px black solid;
  padding: 20px;

}

footer {
  background-color: #ff957e;
  border: 1px black solid;
  padding: 20px;
}